<%- include('../../partials/navbar_home') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="article-container">
        <% result.articles.rows.forEach(article => { %>
            <div class="article-card">
                <h2 class="article-title"><%= article.title %></h2>
                <a href="<%= article.slug %>" class="article-button">Ler artigo</a>
            </div>
        <% }) %>
    </div>
</body>
</html>

<%- include('../../partials/footer') %>