<nav>
    <div class="container-menu">
      <ul>
        <% categories.forEach(category => { %>
            <li><a href="/category/<%= category.slug %>"><%= category.title %></a></li>
        <% })  %>

        <li><a href="/">Início</a></li>
      </ul>
    </div>
  </nav>
  