<nav>
  <div class="container-menu">
    <ul>
      <li><a href="/">Início</a></li>
      <li><a href="/admin/categories">Categorias</a></li>
      <li><a href="/admin/articles">Artigos</a></li>
      <li><a href="/logout">Sair</a></li>
    </ul>
  </div>
</nav>
