* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    width: 100%;
    height: auto;
    line-height: 1.5;
    color: #333;
    background-color: #f9f9f9;
    margin: 0;
    overflow-x: hidden;
  }
  
  /* Formulário de Cadastro */
.form-container {
  background-color: #f8f9fa; 
  border: 1px solid #ddd; 
  border-radius: 0.25rem; 
  padding: 1.5rem; 
  max-width: 700px;
  margin: 2rem auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
  color: #333; 
}


.form-container input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc; 
  border-radius: 0.25rem; 
  margin-top: 0.7rem;
  margin-bottom: 1rem; 
}

.form-container button {
  background-color: #28a745; 
  color: white; 
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none; 
  border-radius: 0.25rem;
  cursor: pointer; 
}

.form-container button:hover {
  background-color: #218838; 
}

.form-container textarea {
  width: 40.7rem;
  height: 15rem;
  margin-bottom: 5rem;
}


.table-container {
  background-color: #f8f9fa; 
  border: 1px solid #ddd; 
  border-radius: 0.25rem; 
  padding: 1.5rem; 
  max-width: 950px;
  margin: 2rem auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



table {
  width: 100%; 
  height: auto;
  border-collapse: collapse; 
  margin-top: 1rem;
  background-color: #fff; 
  border: 1px solid #ddd; 
  font-family: Arial, sans-serif; 
  font-size: 1rem; 
}

.table-scroll {
  overflow-x: auto; 
  -webkit-overflow-scrolling: touch;
}

table th,
table td {
  padding: 0.75rem; 
  text-align: center; 
  border: 1px solid #ddd;
}

table tbody tr th {
  text-align: left;
}

table th {
  background-color: #f8f9fa; 
  font-weight: bold; 
  color: #333; 
}

table tr:nth-child(even) {
  background-color: #f2f2f2; 
}

table tr:hover {
  background-color: #e9ecef; 
}

h1 {
  font-size: 1.5rem; 
  color: #333; 
  margin-bottom: 0.8rem; 
}

hr {
  border: 0;
  border-top: 1px solid #ddd; 
  margin: 1rem 0; 
  padding-top: 0.7rem;
}

.container-menu {
  background-color: #bbb5b5; /* Cor de fundo */
  display: flex; /* Ativa o Flexbox */
  justify-content: flex-end; /* Alinha os itens à direita */
  align-items: center; /* Alinha os itens verticalmente */
  padding: 10px; /* Espaçamento interno */
}

.container-menu ul {
  display: flex; /* Aplica flexbox à lista */
  list-style: none; /* Remove os marcadores padrão da lista */
  margin: 0; /* Remove margem padrão */
  padding: 0; /* Remove padding padrão */
}

.container-menu ul li {
  margin-right: 15px; /* Espaçamento entre os itens */
}

.container-menu ul li:last-child {
  margin-right: 0; /* Remove margem do último item */
}

.container-menu ul li a {
  text-decoration: none; /* Remove sublinhado dos links */
  color: #000; /* Cor dos links */
  padding: 1.1rem;
}

.botoes-tabela {
  text-align: center;
}

.botoes-tabela button {
  margin-left: 1.1rem;
}

.botoes-tabela a {
  text-decoration: none;
  font-weight: normal;
}


.btn {
  padding: 0.6rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
}

.btn-yellow {
  background-color: rgb(226, 226, 20); 
  color: white; 
  border: none; 
  cursor: pointer; 
  color: #000;
}


.btn-yellow:hover {
  background-color: rgb(187, 187, 31); 
}

.btn-red {
  background-color: rgb(229, 22, 22); 
  color: white; 
  border: none; 
  cursor: pointer; 
  color: #000;
}

.btn-red:hover {
  background-color: rgb(198, 30, 30); 
}

.btn-green {
  background-color: #28a745; 
  color: white; 
  border: none; 
  cursor: pointer; 
  color: #000;
  text-decoration: none;
}


.btn-green:hover {
  background-color: #218838;
}

.footer {
  text-align: center;
}

.form-container select {
  width: 100%; 
  padding: 0.6rem; 
  font-size: 1rem; 
  border: 1px solid #ccc; 
  border-radius: 0.25rem; 
  background-color: #fff; 
  color: #333; 
  margin-top: 0.7rem; 
  margin-bottom: 1rem; 
  cursor: pointer; 
  outline: none; 
  appearance: none; /* Remove o estilo padrão do navegador */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.form-container select option {
  padding: 0.5rem; 
  background-color: #fff; 
  color: #333; 
  font-size: 1rem; 
}


.form-container select:hover {
  border-color: #888; 
}


.form-container select:focus {
  border-color: #025bf4; 
  box-shadow: 0 0 5px rgba(36, 57, 131, 0.5); 
}

.form-container label {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1.2rem;
  display: block; 
  color: #333; 
}


.article-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 cards por linha */
  gap: 1.25rem; 
  margin: 0.8rem;
}

@media (max-width: 900px) {
  .article-container {
      grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 600px) {
  .article-container {
      grid-template-columns: 1fr; 
  }
}

.article-card {
  background: #fff;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.article-card:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.article-title {
  font-size: 1.5rem;
  margin: 0 0 0.75rem;
  color: #333;
}

.article-button {
  display: inline-block;
  padding: 0.75rem 1rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.article-button:hover {
  background-color: #218838;
}

.title-article h2 {
  font-size: 2em;
  margin: 1rem 1rem;
  color: #333;
  text-align: center;
}

.article-body h2 {
  font-size: 1.2em;
  line-height: 1.6;
  color: rgb(31, 30, 30);
  max-width: 80rem;
  margin: 0 auto;
}